* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background: linear-gradient(to right bottom, #444, #222, black);
    padding: 10px;
    overflow: auto;

}

main::-webkit-scrollbar {
    display: none;
}


section {
    height: 100%;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;

}

.all-reels {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-padding-top: 0;
}

.reel {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}


.all-reels::-webkit-scrollbar {
    display: none;
}

.reel video {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.reel .bottom {
    padding: 30px 20px;
    background: linear-gradient(rgb(0, 0, 0, 0), rgb(0, 0, 0, 0.844));
    width: 100%;
    position: absolute;
    bottom: 0;
}

.bottom .user {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.bottom .user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.bottom .user h4 {
    font-size: 15px;
    font-weight: 500;
}

.bottom .user button {
    background-color: transparent;
    padding: 2px 4px;
    font-size: 12px;
    border: 1px solid white;
    border-radius: 2px;
}

.bottom>h3 {
    font-weight: 500;
    font-size: 20px;
}

.right {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 15px;
    position: absolute;
    bottom: 15%;
    right: 5%;
    cursor: pointer;
    width: 20px;


}

.right i {
    font-size: 28px;
    font-weight: 500;


}

.right h6 {
    font-weight: 500;

}

.love {
    color: red;
}

.right>div h4 {
    pointer-events: none;
}

.right>div h6 {
    pointer-events: none;
}

.mute {

    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: 2px;
    cursor: pointer;
}

.mute i {
    pointer-events: none;
    font-size: 20px;
}


.mute:active {
    scale: 0.95;
}